<ion-content padding [class]="rndClass" *ngIf="showQuote">
  <div class="swipercontainer" (swipe)="swipeEvent($event)"></div>
  <div *ngIf="!state4">
    <div class="header">
      <h2>{{showQuote.author}}</h2>
    </div>
    <h3 *ngIf="showQuote.extract">{{showQuote.extract}}</h3>
    <div class="center-container" id="center-quote">
      <blockquote>
        <p>
          {{showQuote.text}}
          <span *ngIf="showQuote.subtext">{{showQuote.subtext}}</span>
        </p>
      </blockquote>
    </div>
  </div>

  <div *ngIf="state4">
    <div class="center-container" id="center-quote">
      <blockquote>
        <p>
          {{showQuote.text}}
          <span *ngIf="showQuote.subtext">{{showQuote.subtext}}</span>
        </p>
      </blockquote>
    </div>
    <div class="header">
      <h2>{{showQuote.author}}</h2>
    </div>
    <h3 *ngIf="showQuote.extract">{{showQuote.extract}}</h3>
  </div>
</ion-content>