// $app-font: 'Segoe UI',
// Tahoma,
// Geneva,
// Verdana,
// sans-serif;
$app-font: "Roboto", "Helvetica Neue", sans-serif;
$option-1-background-color: whitesmoke;
$option-2-background-color: #2b2a2a;
$option-1-font-color: #2b2a2a;
$option-2-font-color: #dedede;
page-home {
    .swipercontainer {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    .randclass {
        .header {
            h2 {
                font-size: 3rem;
                font-family: $app-font;
                font-weight: bold;
                text-align: right;
                letter-spacing: -0.1rem;
                margin: 0;
                margin-bottom: 0.5rem;
                color: $option-2-font-color;
            }
        }
        h3 {
            font-weight: 300;
            margin: 0;
            margin-top: 0.5rem;
            font-size: 1.8rem;
        }
        .center-container {
            width: 100%;
            height: 30%;
            margin: 10% auto;
        }
        p {
            font-size: 1.8rem;
            font-family: $app-font;
            font-weight: normal;
            letter-spacing: -0.1rem;
            line-height: 2.3rem;
            span {
                font-size: 1.5rem;
                display: block;
                margin: 1rem 0;
                font-weight: bold;
                font-style: italic;
            }
        }
        blockquote {
            position: relative;
            &:before {
                font-family: Georgia, serif;
                display: block;
                padding-left: 10px;
                content: "\201C";
                font-size: 80px;
                position: absolute;
                left: -45px;
                top: -30px;
            }
        }
        &-1 {
            background: $option-1-background-color;
            .header {
                border-bottom: 9px solid $option-2-background-color;
                h2 {
                    color: $option-1-font-color;
                }
            }
            blockquote:before {
                color: $option-2-background-color;
            }
        }
        &-2 {
            background: $option-1-background-color;
            
            .header {
                h2 {
                    font-size: 1.8rem;
                    color: $option-1-font-color;
                }
            }
            blockquote {
                margin-right: 0;
                border-right: 6px solid $option-1-font-color;
                padding-right: 1rem;
                &:before {
                    display: none;
                }
            }
            h3 {
                text-align: right;
            }
            .center-container {
                text-align: right;
            }
            p {
                font-weight: 300;
                font-size: 2.3rem;
                font-family: "Roboto", "Helvetica Neue", sans-serif;
                span {
                    font-weight: 400;
                    display: inline-block;
                    font-size: 2.3rem;
                    font-style: normal;
                    margin:0;
                }
            }
        }
        &-3 {
            background: $option-1-background-color;
            .header {
                position: absolute;
                bottom: 20px;
                left: 50px;
                h2 {
                    color: $option-1-font-color;
                    padding-right: 3rem;
                    text-align: left;
                }
            }
            .center-container {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 100%;
                height: 30%;
                margin: 10% auto;
            }
            h3 {
                position: absolute;
                bottom: 300px;
                left: 50px;
                color: $option-1-font-color;
                padding-right: .5rem;
            }
            blockquote:before {
                color: #5f5c5c;
                left: -29px;
                top: -10px;
                font-size: 41px;
            }
        }
        &-4 {
            background: $option-1-background-color;
            [padding],
            .scroll-content {
                padding-right: 0 !important;
                padding-left: 5rem !important;
            }
            .header {
                margin-top: 17rem;
                border-top: 9px solid $option-2-background-color;
                padding-top: 5rem;
                h2 {
                    font-size: 3rem;
                    text-align: left;
                    color: $option-1-font-color;
                }
            }
            h3 {
                font-weight: 300;
                padding-right: 3rem;
            }
            .center-container {
                margin: 30% auto 10%;
                blockquote {
                    margin-left: 0;
                    &:before {
                        display: none;
                    }
                }
                p {
                    font-size: 1.8rem;
                }
            }
        }
        &-5 {
            background: $option-1-background-color;
            .center-container {
                margin: 30% auto 0%;
            }
            .header {
                padding-left: 4rem;
                h2 {
                    color: black;
                    text-align: left;
                    font-size: 2rem;
                }
            }
            h3 {
                margin-top: 20%;
                font-size: 1.5rem;
                line-height: 2.5rem;
                font-weight: 300;
                text-align: right;
                border-top: 8px solid black;
            }
        }
    }
    img {
        margin: 0;
    }
}

.scroll-content {
    overflow-y: auto;
}
