<ion-content padding (click)="chooseQuote()" [class]="rndClass">
  <div *ngIf="!src" >
    <div class="header">
      <h2>{{author}}</h2>
    </div>
    <h3>{{extract}}</h3>
    <div class="center-container">
      <blockquote>
        <p>
          {{text}}
          <span *ngIf="subtext">- {{subtext}}</span>
        </p>
      </blockquote>
    </div>
  </div>
  <div *ngIf="src">
    <div class="header">
      <h2>Art, Create, Inspire</h2>
    </div>
    <div class="center-container-img">
      <img [src]="src" alt="" id="imgId">
    </div>
  </div>
</ion-content>